
.home 
{
    @apply flex flex-col m-0 p-0 bg-black;
    width: auto;
    height: auto;
}

.desenfoque 
{
    filter: blur(5px);
    transition: 300ms all;
}

.presentacion
{
    @apply flex flex-col justify-center items-center z-10 ;
    width: 100%;
    height: 100vh;
    transition: 300ms all;
}

.color
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: -1;
}

.video
{
    z-index: -2;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.info
{
    @apply text-left w-full p-16;
}

.info2
{
    @apply text-left w-full p-16;
}

.titles
{
    font-family: 'Mr Dafoe', cursive;
    font-size: 110px;;
    color: #F7F6F3;
}

.info p
{
    font-size: 20px;
    color: #F7F6F3;
    width: 50%;
}

.info2 p
{
    font-size: 20px;
    color: #F7F6F3;
    width: 50%;
}

.continuar
{
    @apply absolute bottom-0 p-20 text-7xl w-full;
    color: #F7F6F3;
}

.datos
{
    @apply flex flex-col p-0 justify-center items-center z-30;
    position: relative;
    height: 100vh;
    width: 100%;
}

.datos2
{
    position: relative;
    height: 100vh;
    width: 100%;
}

.date1
{
    @apply w-1/3 flex ;
    background-color: #2C3E50;
    color: #F7F6F3
}


.date2
{
    @apply w-2/3;
    display: grid;
    grid-template-columns: auto auto auto;   
}

