.carrusel
{
    display: flex;
    flex-direction: column;
    width: 100%; /* Ancho de pantalla completa */
    height: 100vh; /* Altura de pantalla completa */
}

.items
{
    position: relative;
    width: 100%;
    height: 100vh;
    transition: 300ms all;
}

.items img
{
    width: 1500px;
}

